.emoji span{
    width:300px;
    height:300px;
    display:inline-block;
    margin:10px;
    font-size:2em;
    
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
   

    }


.EmojiPickerReact{
    background-color: #000;
    color: #fff;
    margin-bottom: 100px;
    margin-top: 10px;
}
.emoji{
    background-color: #000;
    color: #fff;
   margin-bottom: 20px;
    --epr-emoji-size:40px;
    font-size: 40px;
}
.emoji-tooltip{
    font-size: 12px;
}
.emoji:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.selected-emoji{
    margin: 20px;
}

footer{
    position: end;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    margin-top: 400px;
    margin-bottom: 0px;
    border: 1px solid #4CAF50;
    bottom: 0;
}
footer a{
    color: #4CAF50;
    text-decoration: none;
}

/*Responsiveness for devices of all sizes*/
@media  (max-width: 600px) {
    .emoji span{
        width:200px;
        height:200px;
        display:inline-block;
        margin:10px;
        font-size:1.5em;
        
    }
    .emoji{
        --epr-emoji-size:30px;
        font-size: 30px;
    }
    .selected-emoji{
        margin: 10px;
    }
    footer{
        height: 60px;
        font-size: 10px;
    }
    .button{
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .emoji span{
        width:250px;
        height:250px;
        display:inline-block;
        margin:10px;
        font-size:2em;
        
    }
    .emoji{
        --epr-emoji-size:35px;
        font-size: 35px;
    }
    .selected-emoji{
        margin: 15px;
    }
    footer{
        height: 60px;
        font-size: 10px;
    }
    .button{
        font-size: 12px;
    }
}
    
